.profile {
    margin: 36.25px 0 51px;
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 879px) {
 .profile {
     grid-template-columns: repeat(auto-fill, minmax(120px, 100%));
     margin: 42px 0 36px;
 }
}

@media screen and (max-width: 500px) {
    .profile {
        justify-content: center;
        justify-items: center;

    }
}

@media screen and (max-width: 500px) {
    .profile {
        justify-content: center;
        justify-items: center;

    }
}