.elements {
    display: flex;
    margin: 0 0 67px 0;
    padding: 0;
    width: 100%;
}

@media screen and (max-width:879px) {
    .elements{
        margin: 0 0 48px 0;
    }
}

@media screen and (max-width:645px) {
    .elements{
        justify-self: center;
        justify-items: center;
        justify-content: center;
    }
}