.profile__name {
    display: inline-block;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: nowrap;
    color: white;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-top: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
}

@media screen and (max-width: 879px) {
    .profile__name {
        margin-top: 0;
        margin-bottom: 14px;
    }
}

@media screen and (max-width:500px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .profile__name {
        padding-left: 30px;
    }
}