.element__like-button {
    display: flex;
    background-image: url("../../../images/like-button-disabled.svg");
    background-repeat: no-repeat;
    height: 19px;
    width: 22px;
    padding: 0;
    margin-right: 20px;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

.element__like-button:hover {
    background-image: url("../../../images/like-button-hover.svg");
}

.element__like-button:active {
    background-image: url("../../../images/like-button-active.svg");
}