.element {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    justify-content: space-between;
    list-style: none;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 0;
}